<table class="cashes">
  <tbody>
    <tr>
      <td class="name"><%= I18n.t :begin %></td>
      <td class="sum"><%= link_to sum(@at_begin), at_begin_path %></td>
    </tr>

    <% @cashes.each do |cash| %>
      <tr>
        <td class="name"><%= cash.name %></td>
        <td class="sum"><%= link_to sum(cash.sum), [:edit, cash] %></td>
      </tr>
    <% end %>

    <tr>
      <td class="name"><%= I18n.t :end %></td>
      <td class="sum"><%= sum @at_end %></td>
    </tr>

    <tr>
      <td class="name"><%= I18n.t :balans %></td>
      <td class="sum"><%= sum @balans %></td>
    </tr>

    <tr>
      <td class="new" colspan="2"><%= link_to '+++', new_cash_path %></td>
    </tr>
  </tbody>
</table>

