<%= form_for resource, remote: true, html: { id: :item_form, class: 'b-form' } do |f| %>
  <div class="input-wrapper">
    <%= f.text_field :date, class: :date, value: resource.date %>
  </div>

  <div class="input-wrapper">
    <%= f.text_field :formula, class: :sum, placeholder: 'Сумма', autocomplete: :off, autofocus: true %>
  </div>
    
  <div class="input-wrapper">
    <%= f.select :category_id,
      grouped_options_for_select(Category.group_by_income, resource.category_id), {}, class: :category %>
  </div>
    
  <div class="input-wrapper">
    <%= f.text_field :description, class: :description, :placeholder => 'Примітка' %>
  </div>
    
  <div class="input-wrapper">
    <%= f.submit 'Зберегти', class: :submit %>
    
    <% if resource.persisted? %>
      или
      <%= link_to 'Видалити', resource, method: :delete, remote: true, data: { confirm: 'Ви впевненні?' } %>
    <% end %>
  </div>
<% end %>
