<div class="item" id="new_item">
  <%= form_for item, :remote => true do |i| %>
    <div class="errors"></div>
    <div>
      <%= i.text_field :date, :value => date(item.try(:date)), :class => :date, :id => (item ? :edit_item_date : :item_date) %>
      <%= i.text_field :summa, :class => :sum, :id => (item ? :edit_item_summa : :item_summa) %>
      <%= i.select :category_id, grouped_options_for_select(Category.group_by_income, item.try(:category_id)), {}, :id => nil %>
      <%= i.text_field :description, :id => nil %>
      <%= i.submit 'сохранить', :id => nil %>
      <% unless item.new_record? %>
        или
        <%= link_to I18n.t(:delete), item, :method => :delete, :confirm => I18n.t(:'are you sure'), :remote => true %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="edit_item"></div>
