<tr id="item_<%= item.id %>">
  <td class="date"><%= item.date %></td>

  <td class="sum"><%= link_to item.money, [:edit, item], :remote => false %></td>
  
  <td class="category"><%= item.category_name %></td>
  
  <td><%= item.description %></td>
</tr>
