<tr class="row <%= item_counter.odd? ? :odd : :even %>" id="item_<%= item.id %>">
  <td class="date"><%= item.date %></td>

  <td class="sum"><%= link_to item.money, [:edit, item], remote: true %></td>
  
  <td class="category"><%= item.category_name %></td>

  <td><%= item.description %></td>
</tr>
