<%= render 'form', { :item => Item.new } %>

<table class="cashes">
  <tbody>
    <tr>
      <td class="name"><%= I18n.t :begin %></td>
      <td class="sum" id="at_begin"><%= link_to sum(Cash.at_begin), [:edit, :at_begin], :remote => true %></td>
    </tr>
  </tbody>

  <tbody id="cashes">
    <%= render @cashes %>
  </tbody>

  <tbody>
    <tr>
      <td class="name"><%= I18n.t :end %></td>
      <td class="sum" id="at_end"><%= sum Cash.at_end %></td>
    </tr>

    <tr>
      <td class="name"><%= I18n.t :balance %></td>
      <td class="sum" id="balance"><%= sum Cash.balance %></td>
    </tr>

    <tr>
      <td class="new" colspan="2"><%= link_to '+++', [:new, :cash], :remote => true %></td>
    </tr>
  </tbody>
</table>

<div id="cash_form"></div>

<table class="consolidates">
  <tr id="consolidates">
    <%= render :partial => 'consolidate', :collection => @consolidates %>
  </tr>
</table>

<table class="items">
  <thead>
    <tr>
      <% [:date, :sum, :category, :description].each do |attr| %>
        <th><%= Item.human_attribute_name attr %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="items">
    <%= render @items %>
  </tbody>
</table>

<div id="ajax-loader">
  <%= image_tag 'ajax-loader.gif' %>
</div>
