<div>
  <%= render 'form', resource: Item.new %>
</div>

<table class="cashes">
  <tbody id="cashes"><%= render cashes %></tbody>

  <tbody>
    <tr>
      <td class="name">Остаток на конец:</td>
      <td class="sum" id="at_end"><%= Cash.at_end %></td>
    </tr>

    <tr>
      <td class="name">Баланс:</td>
      <td class="sum" id="balance"><%= Cash.balance %></td>
    </tr>

    <tr>
      <td class="new" colspan="2"><%= link_to '+++', [:new, :cash], :remote => true %></td>
    </tr>
  </tbody>
</table>

<div id="cash_form"></div>

<table class="consolidates">
  <tr id="consolidates">
    <%#= render :partial => 'consolidate', :collection => @consolidates %>
  </tr>
</table>

<table class="items">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Сумма</th>
      <th>Категория</th>
    </tr>
  </thead>

  <tbody id="items">
    <%= render collection %>
  </tbody>
</table>

<div id="ajax-loader">
  <%= image_tag 'ajax-loader.gif' %>
</div>
