<%= render 'form', { :item => Item.new } %>

<table class="cashes">
  <tbody>
    <tr id="at_begin">
      <td class="name"><%= I18n.t :begin %></td>
      <td class="sum"><%= link_to sum(Cash.at_begin), '/at_begin', :remote => true %></td>
    </tr>
  </tbody>

  <tbody id="cashes">
    <%= render :partial => 'cashes/cash', :collection => @cashes %>
  </tbody>

  <tbody>
    <tr>
      <td class="name"><%= I18n.t :end %></td>
      <td class="sum" id="at_end"><%= sum Cash.at_end %></td>
    </tr>

    <tr>
      <td class="name"><%= I18n.t :balance %></td>
      <td class="sum" id="balance"><%= sum Cash.balance %></td>
    </tr>

    <tr>
      <td class="new" colspan="2"><%= link_to '+++', [:new, :cash], :remote => true %></td>
    </tr>
  </tbody>
</table>

<%= form_tag '', :id => 'for_cash', :method => :put, :remote => true do %>
  <div class="errors" id="cash_errors"></div>
  <div class="input">
    <%= label_tag :cash_name, Cash.human_attribute_name(:name) %>
    <%= text_field_tag :cash_name, nil, :name => 'cash[name]', :class => 'cash_name' %>
  </div>
  <div class="input">
    <%= label_tag :cash_sum, Cash.human_attribute_name(:sum) %>
    <%= text_field_tag :cash_sum, nil, :name => 'cash[sum]', :class => 'cash_sum' %>
  </div>
  <div class="input" id="delete_cash_button">
    <%= label_tag :cash_deleted, Cash.human_attribute_name(:deleted) %>
    <%= check_box_tag 'cash[deleted]' %>
  </div>
  <div class="input submit">
    <%= submit_tag I18n.t :save %>
  </div>
<% end %>

<table class="consolidates">
  <tr id="consolidates"></tr>
</table>

<table class="items">
  <thead>
    <tr>
      <% [:date, :sum, :category, :description].each do |attr| %>
        <th><%= Item.human_attribute_name attr %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="items"></tbody>
</table>

<div id="ajax-loader">
  <%= image_tag 'ajax-loader.gif' %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'jquery-ui-1.8.5.custom.min', 'jquery.ui.datepicker-ru', 'jquery.form', 'items/index' %>
<% end %>

