<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Balans</title>
    <%= stylesheet_link_tag 'style.css' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="header">
      <div class="months">
        <% (1..12).each do |month| %>
          <%= link_to I18n.t(:'date.standalone_month_names')[month], "/#{ @year }/#{ '%02d' % month }", :class => (@month == month ? 'bold' : nil) %>
        <% end %>
      </div>

      <div class="years">
        <% (2008..Date.today.year).each do |year| %>
          <%= link_to year, "/#{ year }/#{ '%02d' % @month }", :class => (@year == year ? 'bold' : nil) %>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <%= javascript_include_tag :defaults %>
  </body>
</html>
