<!DOCTYPE html>
<html>
  <head>
    <title>Balance on AJAX</title>
    <%= stylesheet_link_tag :application %>

    <%= favicon_link_tag 'dollar.png' %>

    <link rel="apple-touch-icon" href="<%= image_path 'dollar.png' %>">

    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <div id="ajax-loader">
      <%= image_tag 'ajax-loader.gif' %>
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>
